<!-- Contact me page of CM's blog-->
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Bootstrap Blog Template">
    <meta name="author" content="Jacob Jose">
 
    <title>Home</title>
 
    <!-- Bootstrap CSS file -->
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='blog.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap-theme.min.css") }}" rel="stylesheet" />

</head> 
<body>
<div class="container">
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">         
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('welcome') }}" class="navbar-brand">CM's Blog Engine!</a>
        </div>
         <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <form action="{{ url_for('home') }}" method="post" class="navbar-form navbar-right" >
                {% if not session.logged_in %}
                <button type="submit" class="btn btn-default" name="opt"  value="login">LOGIN</button>
                {% else %}
                
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Signed in as {{ session.username }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('about') }}">About Me</a></li>
                        <li><a href="{{ url_for('login') }}">Log out</a></li>
                    </ul>
                </div>
                {% endif %}
            </form>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('add') }}">New Post</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
    </div>
    </header>
    <div class="contact-form">
    <form class="form-horizontal col-md-8" role="form">
 
        <div class="form-group">
            <label for="name" class="col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </div>
 
        <div class="form-group">
            <label for="email" class="col-md-2">Email</label>
            <div class="col-md-10">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
        </div>
 
        <div class="form-group">
            <label for="subject" class="col-md-2">Subject</label>
            <div class="col-md-10">
                <input type="subject" class="form-control" id="subject" placeholder="Subject">
            </div>
        </div>
 
        <div class="form-group">
            <label for="message" class="col-md-2">Message</label>
            <div class="col-md-10">
                <textarea class="form-control" id="message" placeholder="Message"></textarea>
            </div>
        </div>
 
        <div class="form-group">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-lg btn-primary">Submit your message!</button>
            </div>
        </div>
    </form>   
</div>
</div>
    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright © CM's Blog powered by bootstrap and flask</p>
        </div>
    </footer>
</div>

    <!-- Jquery and Bootstrap Script files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

 
    <!--script src="{{ url_for('static', filename="jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script-->
</body>
</html>
