<!-- Login page of CM's blog-->
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Bootstrap Blog Template">
    <meta name="author" content="Jacob Jose">
 
    <title>Home</title>
 
    <!-- Bootstrap CSS file -->
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='blog.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap-theme.min.css") }}" rel="stylesheet" />
    <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"-->


     <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="blog.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />



</head>
 
<body>

    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">         
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">CM's Blog Engine!</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <form class="navbar-form navbar-right" role="search">
              
              <button type="submit" class="btn btn-default">LOG IN</button>
            </form>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </div>
</header>



<div class="container">

<div class="row">
        <div class="col-md-9">
<div class="well">
<form action="{{ url_for('login') }}" method=post class="form-horizontal">
      <div class="form-group">
        <label for="inputUsername" class="control-label col-xs-2">Username</label>
        <div class="col-xs-10">
            <input type="test" class="form-control" id="inputUsername" placeholder="Username" name="username">
            {% if error=="username" %}
            <div class="control-group error">
            <div class="controls">
              <span class="help-inline" id="inputError" >Invalid Username</span>
             </div>
           </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="control-label col-xs-2">Password</label>
        <div class="col-xs-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" id="inputError">
            {% if error=="password" %}
            <div class="controls">
              <span class="help-inline">Invalid Password</span>
             </div>
            {% endif %}
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
  
</form>
{% for message in get_flashed_messages() %}
      <br>
      <div class="alert alert-info">
        <a href="/" class="close" data-dismiss="alert">&times;</a><br>
        <strong>Note!</strong>{{message}}
      </div>
      {% endfor %}

</div>
<footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright © CM's Blog powered by bootsrap and flask</p>
        </div>
    </footer>
</div>
</body>
</html>
