<!-- Single blog post entry-->

<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Bootstrap Blog Template">
    <meta name="author" content="Jacob Jose">
 
    <title>Home</title>
 
    <!-- Bootstrap CSS file -->
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='blog.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap-theme.min.css") }}" rel="stylesheet" />

    <!-- Bootstrap CSS file -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="blog.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />


</head>
 
<body>
<div class="container">
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">         
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('welcome') }}" class="navbar-brand">CM's Blog Engine!</a>
        </div>
         <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <form action="{{ url_for('home') }}" method="post" class="navbar-form navbar-right" >
                {% if not session.logged_in %}
                <button type="submit" class="btn btn-default" name="opt"  value="login">LOGIN</button>
                {% else %}
                
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Signed in as {{ session.username }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('about') }}">About Me</a></li>
                        <li><a href="{{ url_for('login') }}">Log out</a></li>
                    </ul>
                </div>
                {% endif %}
            </form>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('add') }}">New Post</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
    </div>
    </header>

<!-- body content: posts and side bar-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
 
            <!-- heading -->
            {% for entry in entries %}
            <h1><a href="/post/{{ entry.id }}">{{ entry.title }}</a></h1>
                
 
            <!-- content posts -->
            <article>
                 
                <div class="row">
                    
                    <div class="group2 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-pencil"></span> <a href="/post/{{ entry.title }}">{{ entry.t_comments }} comments </a>                              
                          <span class="glyphicon glyphicon-time"></span>posted on {{ entry.p_date }}                        

                    </div>
                </div>
                <br>
                <hr>              
                <p class="lead">{{ entry.post }}</p>
                <hr>
                
                
            </article>
            {% endfor %}

            <div > {% for entry in entries %}
                <form action="/post/{{ entry.title }}" method="post" role="form" class="clearfix">
                    <button type="submit" class="btn btn-danger btn btn-primary btn-xs pull-right" name="option" value="Delete">Delete this post</button>
                </form>
                    {% endfor %}
            </div>

            </div><!-- closing of class col md-8-->
                    
            <div class="col-md-4"> 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Latest Posts</h4>
                    </div>
                    {% for title in titles %}
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/post/{{ title.title }}">{{ title.title }}</a></li>
                    </ul>
                    {% endfor %} 
                </div>
            </div>   
        </div>


            <!-- showing comments-->
                
                <h4>COMMENTS:</h4>
                {% for comment in comments %}
                <p>{{ comment.c_name }} Says : {{ comment.comment }}</p>
                {% endfor %}
            
        </div><!-- closing of row div-->
    </div><!-- closing of container div-->

<!-- comment form-->
    <div class="container">
    <div class="well">
 
    <h4>Leave a comment</h4>
     {% for entry in entries %}
    <form action="/post/{{ entry.title }}" method="post" role="form" class="clearfix">
 
        <div class="col-md-6 form-group">
            <label class="sr-only" for="name">c_name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="c_name">
        </div>
 
        
        <div class="col-md-12 form-group">
            <label class="sr-only" for="email">Comment</label>
            <textarea class="form-control" id="comment" placeholder="Comment" name="comment"></textarea>
        </div>
 
        <div class="col-md-12 form-group text-right">
            <button type="submit" class="btn btn-primary" name="option" value="submit">Submit</button>
        </div>
 
    </form>  
    {% endfor %}                 
    </div>


    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright © J's Blog powered by bootstrap and flask</p>
        </div>
    </footer>
</div>

    <!-- Jquery and Bootstrap Script files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

 
    <!--script src="{{ url_for('static', filename="jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script-->
</body>
</html>























