 <!-- Welcome page of CM's blog-->
 
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Bootstrap Blog Template">
    <meta name="author" content="Jacob Jose">
 
    <title>Home</title>
 
    <!-- Bootstrap CSS file -->
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='blog.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap-theme.min.css") }}" rel="stylesheet" />

    <!-- Bootstrap CSS file -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="blog.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />


</head>
 
<body>

<div class="container">
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">         
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('welcome') }}" class="navbar-brand">J's Blog Engine!</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <form action="{{ url_for('home') }}" method="post" class="navbar-form navbar-right" >
                {% if not session.logged_in %}
                <button type="submit" class="btn btn-default" name="opt"  value="login">LOGIN</button>
                {% else %}
                
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Signed in as {{ session.username }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('about') }}">About Me</a></li>
                        <li><a href="{{ url_for('login') }}">Log out</a></li>
                    </ul>
                </div>
                {% endif %}
            </form>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('add') }}">New Post</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
    </div>
    </header>


    
            <div class="jumbotron">
              <h1>Welcome To CM's Blog Engine!</h1>
                <p>You need to write about something..? This will be just a simple blog engine for you.</p>
                <p><a class="btn btn-primary btn-lg" href="/#">Signup now!</a></p>
            </div>
    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright © CM's Blog powered by bootstrap and flask</p>
        </div>
    </footer>
</div>
 <!-- Jquery and Bootstrap Script files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
 
    <!--script src="{{ url_for('static', filename="jquery.min.js") }}"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script-->
</body>
</html>



            
